const BasUrl = 'https://codingthecurbs.api.fdnd.nl/v1/smartzone'


<section class="contianer">
    
    <article>
        <span class="names" style="color: red;"><%- data.name %>  </span>
        <h3 style="color:red ;"><%- data.town %> </h3>
        <img src="<%-data.image %> " alt="ocean">
        <p class="content"> <%- data.description %> </p>
    </article>
</section>


 <!-- Aside -->

 <section id="aside">
    <h4>More From FDND</h4>
    <section class="aside-container">
        <% smartzones.forEach((smartzone) => {%> 
                <article class="aside-content" >
                    <a href="/article/<%- smartzone.smartzoneId %>"><%- smartzone.name %></a>
                            <h6><%- smartzone.name %></h6>
                            <p style="color: red;"><%- smartzone.smartzoneId %></p>
                            <img class="aside-imge" src="<%- smartzone.image %>" alt="ocean">
                            <p class="aside-parph">
                             <%- smartzone.description %>  
                            </p>

                </article>
        <% }) %>
    </section>
</section>


 <!-- <section class="choiss">
        <button> <% smartzones.forEach((smartzone) => { %>
            <a href="/article/<%- smartzone.smartzoneId %>"><%- smartzone.name %></a>
            <% }) %> </button>
        </section> -->


        <!-- Post form html -->
        
    <!-- form section -->
    <section id="form__container">
   
        <h1>Voeg informatie toe</h1>
 
        <form   class="form__post" action="/add"  method="post">
 
            <div>
 
                <label for="postId">postId</label>
                <input type="number" name="postId"  id="postId-y">
 
             </div>
 
            <div>
 
               <label for="author">author</label>
               <input type="text" name="author" id="author-y">
 
            </div>
 
            <div>
                <label for="title">title</label>
                <input type="text" name="title" id="title-y">
            </div>
 
            <div>
                <label for="content">content</label>
                <input type="text" name="content" id="content-y">
            </div>
 
            <div>
                <label for="published">published</label>
                <input type="number" name="published" id="published-y">
             </div> 
            <section class="form__button">
               <button class="btn--cancel"><a href="/">Backe</a></button>
               <button class="btn--add" type="submit" value="submit">Send</button>
            </section>
        
         </form>
 
    </section>
 
        
