<%- include('../includes/headarticle.ejs') %> 
<%- include('../includes/head2.ejs') %> 

    <main id="main-container">
        <section class="article-contianer">
            <article>
                <span class="name" ><%- data.name %>  </span>
               <p> <span class="published-date">Jun15 </span></p>

                <h3><%- data.town %> </h3>
                <img class="publish-image" src="<%- data.image %> " alt="ocean">
                <p class="publish-paragraph"> <%- data.description %> </p>
            </article>
        </section>

    

    </main>
    <%- include('../includes/foot.ejs') %> 



