<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/article.css">
    <link rel="stylesheet" href="../styles/add.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>proof of concept</title>
</head>
<body>
    <header>
        <section>
            <img class="logo"  src="../images/logo.svg" alt="logo-HvA">
            <p class="fdnd"> Frontend<br>Design & Development</p>
        </section>
    </header>
    <h1 class="h1-aricle">Read before you think</h1>
    <hr>
    <!-- main -->
    <main id="published-container">
        <section class="article-contianer">
            <article>
               <h2 class="puablished-title"><%- data.town %> </h2>
               <p class="published-author"><span class="name" ><%- data.name %>  </span></p>
               <p class="published-date"> <span class="date"><%- data.function %>  </span></p>
                <img class="publish-image" src="<%- data.image %> " alt="ocean">
                <p class="publish-paragraph"> <%- data.description %> </p>
            </article>
        </section>

        
    </main>
    <footer>
        <a href="/" class="backPage">Back to Blog's</a>
    </footer>
    <hr class="bar">

   
</body>
</html>
   



