<%- include('../includes/head.ejs') %> 

    <main id="main-container">
        <section class="contianer">
            <article>
                <span class="names" ><%- data.name %>  </span>
                <h3><%- data.town %> </h3>
                <img src="<%-data.image %> " alt="ocean">
                <p class="content"> <%- data.description %> </p>
            </article>
        </section>
    </main>
    <%- include('../includes/foot.ejs') %> 



