<%- include('../includes/head.ejs') %> 
 <!-- loading ui -->
 <div class="spinner-wrapper">
    <div class="loding_spinner"></div>
  </div>
  <div class="erorrStats">
    <img  src="../images/Erorimag.png" alt="">
    <h1>Opess something went wrong...</h1>
  </div>

<main id="main-container">
        <section class="contianer">
            <% smartzones.filter((smartzone) => smartzone.author === 'Justus').map(smartzone =>{%>
        
            <article>
                        
                    <h4 class="author"><%- smartzone.author %> </h4>
                    <span class="published-date"><%- smartzone.published %>  </span>
                    <h2><%- smartzone.titel %> </h2>
                    <img src="<%- smartzone.image %> " alt="imag from api">
                    <p class="paragraph-content"> <%- smartzone.content %> </p>
                
            </article>
            <%})%> 
        </section>

        <!-- Aside -->
        <section id="aside">
            <h4>More From FDND</h4>
            <section class="aside-container">
            
                <% smartzones.forEach((smartzone) => {%> 
                    <a href="/article/<%- smartzone.postId %>">
                        <article class="aside-content" >
                                    <h5 ><%- smartzone.author %></h5>
                                    <img class="aside-imge" src="<%- smartzone.image %>" alt="image">
                                    <p class="aside-parph">
                                    <%- smartzone.content %>  
                                    </p>
                        </article>
                    </a>
                <% }) %>
                
                    
            </section>
        
        
        </section>
    
   

</main>
<%- include('../includes/foot.ejs') %> 


 